html {
  overflow: auto;
}

body {
  position: absolute;
  top: 63px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.MuiDrawer-paperAnchorDockedLeft {
  overflow-x: hidden;
}

p {
  line-height: 25px;
}

#react-refresh-overlay,
#webpack-dev-server-client-overlay {
  top: 63px !important;
  height: calc(100% - 63px) !important;
}

.glow-on-hover {
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111111ad;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 1px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 60s linear infinite;
  opacity: 0.5;
  transition: opacity 0.3s;
  border-radius: 1px;
}

.MuiSelect-select {
  overflow: unset !important;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111111ad;
  left: 0;
  top: 0;
  border-radius: 1px;
}

.championSkew:before {
  transform: skewX(-15deg);
  background: linear-gradient(
    45deg,
    #ff0073,
    #4d012d,
    #ff0073,
    #4d012d,
    #ff0073,
    #4d012d
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: 0;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 30s linear infinite;
  opacity: 1;
  transition: opacity 0.3s;
  border-radius: 1px;
}

.champion:before {
  background: linear-gradient(
    45deg,
    #ff0073,
    #4d012d,
    #ff0073,
    #4d012d,
    #ff0073,
    #4d012d
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: 0;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 30s linear infinite;
  opacity: 1;
  transition: opacity 0.3s;
  border-radius: 1px;
}

.mvpSkew:before {
  transform: skewX(-15deg);
  background: linear-gradient(
    45deg,
    #00ffd5,
    #002bff,
    #00ffd5,
    #002bff,
    #00ffd5
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: 0;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 30s linear infinite;
  opacity: 1;
  transition: opacity 0.3s;
  border-radius: 1px;
}

.mvp:before {
  background: linear-gradient(
    45deg,
    #00ffd5,
    #002bff,
    #00ffd5,
    #002bff,
    #00ffd5
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: 0;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 30s linear infinite;
  opacity: 1;
  transition: opacity 0.3s;
  border-radius: 1px;
}

.nitroSkew:before {
  transform: skewX(-15deg);
  background: linear-gradient(
    45deg,
    #f47fff,
    #5c3160,
    #f47fff,
    #5c3160,
    #f47fff
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: 0;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 30s linear infinite;
  opacity: 1;
  transition: opacity 0.3s;
  border-radius: 1px;
}

.nitro:before {
  background: linear-gradient(
    45deg,
    #f47fff,
    #5c3160,
    #f47fff,
    #5c3160,
    #f47fff
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: 0;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 30s linear infinite;
  opacity: 1;
  transition: opacity 0.3s;
  border-radius: 1px;
}

.developerSkew:before {
  background: linear-gradient(
    45deg,
    #07fa03,
    #195203,
    #07fa03,
    #195203,
    #07fa03,
    #195203,
    #07fa03
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: 0;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 30s linear infinite;
  opacity: 1;
  transition: opacity 0.3s;
  border-radius: 1px;
  transform: skewX(-15deg);
}

.developer:before {
  background: linear-gradient(
    45deg,
    #07fa03,
    #195203,
    #07fa03,
    #195203,
    #07fa03,
    #195203,
    #07fa03
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: 0;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 30s linear infinite;
  opacity: 1;
  transition: opacity 0.3s;
  border-radius: 1px;
}

.specialSkew:before {
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: 0;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 30s linear infinite;
  opacity: 1;
  transition: opacity 0.3s;
  border-radius: 1px;
  transform: skewX(-15deg);
}

.special:before {
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: 0;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 30s linear infinite;
  opacity: 1;
  transition: opacity 0.3s;
  border-radius: 1px;
}

.mentorSkew:before {
  background: linear-gradient(
    45deg,
    #00ffec,
    #00e5d4,
    #00ccbd,
    #00b3a6,
    #00998e,
    #008078,
    #006861,
    #00504b,
    #003834,
    #00211e,
    #004c46,
    #00786e,
    #00a397,
    #00cfbf,
    #00ffec,
    #00e5d4,
    #00ccbd,
    #00b3a6,
    #00998e,
    #008078,
    #006861,
    #00504b,
    #003834,
    #00211e,
    #004c46,
    #00786e,
    #00a397,
    #00cfbf
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: 0;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity 0.3s;
  border-radius: 1px;
  transform: skewX(-15deg);
}

.mentor:before {
  background: linear-gradient(
    45deg,
    #00ffec,
    #00e5d4,
    #00ccbd,
    #00b3a6,
    #00998e,
    #008078,
    #006861,
    #00504b,
    #003834,
    #00211e,
    #004c46,
    #00786e,
    #00a397,
    #00cfbf,
    #00ffec,
    #00e5d4,
    #00ccbd,
    #00b3a6,
    #00998e,
    #008078,
    #006861,
    #00504b,
    #003834,
    #00211e,
    #004c46,
    #00786e,
    #00a397,
    #00cfbf
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: 0;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity 0.3s;
  border-radius: 1px;
}

.active {
  background: #ff00004a;
}
.active:after {
  background: #ff00004a;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
